body{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
}

main{
    width: 95%;
    margin-top: 85px;
    margin-bottom: 85px;;
}

.card{
    display: inline-block;
    padding: 48px;
}

.first-card{
    background-color: #E28625;
    border-radius: 8px 8px 0 0;
}

.second-card{
    background-color: #006971;
}

.third-card{
    background-color: #004140;
    border-radius: 0 0 8px 8px;
}

h1{
    font-family: "Big Shoulders Display";
    margin-top: 35px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2f2f2;
}

p{
    margin-top: 25px;
    color: #fff;
    margin-bottom: 85px;
    opacity: 0.75;
}

a{
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 12px 30px;
    background-color: #fff;
    text-decoration: none;
}

    .first-card a{
        color: #E28625;
    }

    .second-card a{
        color: #006971;
    }

    .third-card a {
        color: #004140;
    }

a:active{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}


@media only screen and (min-width: 920px) {
    body{
        flex-direction: row;
    }
    
    main{
        width: 920px;
        display: flex;
    }

    .card{
    }

    .first-card{
        border-radius: 8px 0 0 8px;
    }

    .third-card{
        border-radius: 0px 8px 8px 0px;
    }

}

